*{
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
    scroll-behavior: smooth;
}
/*深藍#2a3d63；連結#335e8a；淺橘#fdf5e5:；淡橘#fefaf6*/
body{
    background-color: #fdf5e5;
    overscroll-behavior-y: none;
}
header{
    background-color: rgba(42, 61, 99, 0.985);
    width: 100%;
    height: 140px;
    position: fixed;
    display: flex;
    justify-content: center; 
    align-items: center;
    z-index: 100;
}
header h1{
    color: #fdf5e5;
    font-size: 38px;
    font-weight: bold;
    padding-right: 160px;
    padding-bottom: 20px;
    white-space: nowrap;
    overflow: hidden;
}
header .header-image{
    width: auto;
    height: 165px;
    position: absolute;
    padding-left: 75px;
    padding-bottom:15px;
}
.back-to-top-buttom{
    width: 50px;
    height: auto;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
}
main{
    padding:180px 10vw 20px 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.manu-title{
    background-color:#2a3d63 ;
    width: 80%;
    height: 43px;
    border-radius: 3px;
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
}
.manu-title h3{
    color: #fefaf6;
    font-size:24px;
    line-height: 43px;
    scroll-margin-top: 160px;
}
.manu{
    max-width: max-content;
    min-width: 380px;
    border: #2a3d63 2px solid;
    background-color: #fefaf6;
    width: 80%;
    height: auto;
    padding: 18px 4vw 20px 8vw; 
    margin-top: 10px;
    margin-bottom: 50px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.manu ol{
    text-decoration: none;
    color: #2a3d63;
    font-size: 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    line-height: 40px;
}
.manu ol:haver{
    color: #335e8a ;
    transition: 0.3s;
}
.manu a{
    width: 100%;
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 5px;
    line-height: 40px;
    color: #2a3d63;
    font-size: 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.manu a:hover{
    color: #335e8a ;
    transition: 0.3s;
}
.question{
    background-color: #fefaf6;
    width: 90%;
    max-width: 800px;
    min-width: 400px;
    height: auto;
    padding: 20px 8vw 20px 8vw; 
    margin-bottom: 80px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.question h2{
    /*背景格子*/
    background-color:#2a3d63 ;
    width: 80%;
    height: auto;
    padding: 10px;
    border-radius: 3px;
    align-items: center;
    /*文字樣式*/
    color: #fefaf6;
    font-size:19px;
    font-weight: normal;
    line-height: 30px;
    scroll-margin-top: 180px;
    text-align: center;
}
.question p{
    width: 100%;
    color: #2a3d63;
    font-size: 18px;
    line-height: 30px;
    text-indent: 2em;
    flex-direction: column;
    }
.social-media a{
    /*背景格子*/
    background-color:#2a3d63 ;
    width: 140px;
    height: 50px;
    margin: 15px 15px 10px;
    border-radius: 8px;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    /*文字樣式*/
    color: #fefaf6;
    font-size:19px;
    font-weight: normal;
    line-height: 50px;
    text-decoration: none;
}
.social-media a:hover{
    background-color: #335e8a ;
    transition: 0.3s;
}
.question details{
    color: #2a3d63;
    font-size: 18px;
    width: 100%;
    line-height: 35px;
    z-index: 10;
}
.question details summary {
    cursor: pointer;
    text-align: center;
    list-style: none;
    position: relative;
}
.question details summary::before {
    content: "📁 ";
    font-size: 18px;
    color: #2a3d63;
    text-decoration: none;
}
.question details[open] summary::before {
    content: "📂 ";
    font-size: 18px;
    color: #2a3d63;
}

.coursework-description{
    width: 100%;
    margin-bottom: 20px;
    flex-direction: column;
    display:flex;
    align-items: center; 
}
.coursework-example{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.coursework-example img{
    max-width: 100%;
    height: auto;
}

.coursework-example-1{
    width: 200px;
    height: auto;
}
.coursework-example-2{
    width: 450px;
    height: auto;
    margin-bottom: -100px;
    margin-top: -100px;
}
footer{
    background-color: rgba(42, 61, 99, 0.985);
    width: 100%;
    height: 80px;
    bottom:0;
    display: flex;
    justify-content: center; 
    align-items: center;
}
footer ol{
    list-style: none;
    text-align: center;
    color: #fefaf6;
    font-size:12px;
    font-weight: normal;
    line-height: 25px;
    text-align: center;
}

/*
剩下要做的：
3. 改第二題和第六題的內文
上傳！
*/
